<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    #a{
        color:black;
        background-color: blue;
        text-align: center;
    }
    .b{
        color: crimson;
        background-color: darkorange;
        text-align: center;
    }
    /* box  model*/
    #c{
        padding:120px;
        border-style: double;
        border-color: rgb(29, 88, 216);
        border-width:12px;
        margin:100px;
        border-radius:60px;
        text-align: center;
        /* box shadow*/
        box-shadow: 10px  10px 20px 20px  blue);


    }
</style>
</head>
<body>
    
</body>
</html>